

<header class="header-6">
    <div class="branding">
      <a href="#" class="brand-logo">{{title}}</a>
    </div>
    <div class="header-nav">
        <a class="nav-link nav-text" routerLink="about">About</a>
        <a class="nav-link nav-text" routerLink="marketplace">Marketplace</a>
    </div>
    <div class="header-actions">
        <a href="javascript://" class="nav-link nav-icon">

        </a>
    </div>
</header>

<body>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</body>
<footer class="footer">
  <div class="container">
    <a class="text-muted" routerLink="admin">Admin</a>
  </div>
</footer>
